[submodule "Libraries/Drivers"]
	path = Libraries/Drivers
	url = https://github.com/USU-Robosub/Drivers.git
[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/google/googletest.git
