hr.fancy {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: -15px;
}

hr.fancy:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

input[type="submit"].fancy, button[type="submit"].fancy
{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    color: blue;
    font-size: 1em; /* 16px */
    font-weight: bold;

    /* Centers the text. Used from http://csscreator.com/node/31499 */
    float: none;
    display: block;
    margin: 15px auto;
}
