body
{
   margin: 0px;
   background-color: #3882cd;
}

#contentWrap
{
   padding: 25px 128px 100px 128px;
}

#content
{
   padding: 10px;
   border-radius: 15px;
   position: relative;
   background-color: #F0F8FF;
   min-width: 770px;
   min-height: 500px;
   font-family: Georgia, "Times New Roman", serif;
}

#content #title
{
   font-weight: bold;
   font-size: 2.0em;
   margin: 0px 460px 0px 100px;
   padding: 10px 0px;
   border-bottom: 2px dotted green;
   text-align: center;
}

#content #sidebar
{
   float: right;
   width: 300px;
}

#content #sidebar .imgWrapper
{
   width: 80%;
   margin: 0px auto;
}

#content #sidebar img
{
   width: 100%;
}

#content #sidebar #connection
{
   padding-top: 30px;
   width: 80%;
   margin: 0px auto;
}

#content #sidebar #connection input
{
   width: 140px;
   font-size: 1em;


}

#content #sidebar #connection .connect
{
   width: 66%;
   height: 35px;
   font-size: 1em;
   margin: 0px auto;
   display:block;
   background-color: red;
   border-radius: 15px;
   margin-top: 10px;
}

#controls
{
   padding-top: 30px;
   padding-left: 20px;
   width: 65%;
}

#power
{
   width: 150px;
   margin: 0px auto;
}

#power input[type=checkbox]
{
   width: 25px;
   height: 25px;
   background:white;
   border-radius:5px;
   border:2px solid #555;
}

#power input[type='checkbox']:checked
{
   background: #abd;
}

#power label
{
   position: relative;
   top: -7px;
}

#forwardThrust, #panThrust, #diveThrust, #yawThrust
{
   width: 75%;
   margin: 20px auto;
}

#thrust label
{
   padding-left: 20px;
   padding-bottom: 5px;
}

#sensors
{
   width: 66%;
   margin: 0px auto;
}

#sensors button
{
   width: 40%;
   height: 40px;
   font-size: 1em;
}

#sensors button:first-child
{
   float: left;
}

#sensors button:last-child
{
   float: right;
}
